.about_author__container {
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}

.about_author__details {
  flex-direction: column;
  align-items: center;
}

.about_author__info {
  margin-left: 1rem;
  flex: 1;
}

.about_author__details .about_author__info {
  text-align: center;
  margin-top: .5rem;
}

.about_author__image {
  border-radius: 10rem;
  background-color: var(--gray);
  overflow: hidden;
}

.about_author__info p {
  padding: 0.5rem 0;
}

.author__social {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.about_author__details .author__social {
  justify-content: center;
}

.author__social i {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--gray);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.about_author__details .author__social i {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
}

.author__social i:hover {
  background-color: var(--lightgray);
}

@media screen and (max-width: 480px) {
  .about_author__container {
    flex-direction: column;
  }
  .about_author__info {
    margin-top: 1rem;
    margin-left: 0;
  }
}
