.blogitem__container {
  display: block;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.blogitem__author_info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blogitem__author_info div {
  display: flex;
  align-items: center;
}

.blogitem__author_info div p {
  color: var(--gray);
}

.blogitem__author_info div p:last-child {
  color: var(--secondary-color);
  margin-left: 0.5rem;
}

.blogitem__author_info div a {
  text-decoration: none;
  color: var(--gray);
  margin-left: 0.5rem;
}

.author__image {
  border-radius: 0.5rem;
}

.blogitem__info {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0.5rem;
  width: 100%;
}

.blogitem__content {
  padding: 0.5rem 0;
}

.blogitem__content a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
}

.blogitem__content p {
  padding-top: 0.5rem;
  color: var(--gray);
}

@media screen and (max-width: 768px) {
  .blogitem__info {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .blogitem__author_info {
    flex-direction: column;
    align-items: flex-start;
  }
  .blogitem__author_info div:last-child {
    margin-top: 0.2rem;
  }
  .blogitem__author_info div p:first-child {
    margin: 0;
    padding: 0;
  }
}
