.logo__wrapper {
  transition: all 0.4s ease-in-out;
  display: block;
  padding: .5rem;
}

.logo__wrapper a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: var(--white);
}

.logo__text {
  margin-left: .2rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .logo__wrapper {
    width: max-content;
  }
}

@media screen and (max-width: 868px) {
  .logo__wrapper {
    width: max-content;
  }

  .logo {
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .logo__wrapper {
    width: max-content;
  }
}