.rating__container {
  display: flex;
  align-items: center;
}

.rating__container button {
  border: none;
  background: transparent;
  font-size: 1.4rem;
  color: var(--gray);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.rating__container button.active {
  color: var(--secondary-color);
}
