.trending__blog__container {
  padding: 1rem 0;
}

.blog__item {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.blog__info {
  padding: 0 1rem;
  flex: 1;
}

.blog__info p {
  color: rgb(107, 107, 107);
}

.blog__image,
.author__image {
  border-radius: 0.5rem;
  overflow: hidden;
}

.blog__image {
  width: 100px;
  height: 100px;
  animation: loading 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.blog__author {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.blog__author a {
  margin-left: 0.6rem;
  text-decoration: none;
  color: var(--black);
}

.blog__author h4 {
  font-weight: 400;
  font-size: 0.9rem;
}

.author__title {
  display: flex;
  align-items: center;
}

.author__title p {
  font-size: 0.9rem;
  margin-left: 1rem;
}

.author__title p:last-child {
  color: var(--secondary-color);
  font-weight: 600;
}

@keyframes loading {
  from {
    background-color: var(--gray);
  }

  to {
    background-color: var(--lightgray);
  }
}

@media screen and (max-width: 480px) {
  .blog__image {
    width: 120px;
    height: 120px;
  }
  .author__title p:last-child {
    visibility: none;
    display: none;
  }
}
