body {
  font-family: "Karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  --primary-color: #fd811b;
  --secondary-color: #197fc1;
  --green: #49bffa;
  --white: #fff;
  --black: #000;
  --gray: #eee;
  --lightgray: rgb(255, 255, 255);
  --light: rgb(250, 250, 250);
  --title-size: 3rem;
  --subtitle-size: 1.2rem;
  --danger: red;
}


.font-swash {
  font-family: 'Berkshire Swash', cursive !important;
}

body {
  background-color: var(--white);
}

main {
  max-width: 1378px;
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.htsform__container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.html_editor__box {
  background-color: var(--lightgray);
  min-height: 250px;
  border-radius: 0.2rem;
  padding: 0 1rem;
  border: 1px solid var(--gray);
}

@media screen and (max-width: 480px) {
  .htsform__container {
    margin-top: 2rem !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}

button {
  outline: none;
}

.kNBmiK {
  margin: 0!important;
}