.home__container {
  display: flex;
  padding: 2rem 4rem;
}

.home__trending_topics {
  max-width: 250px;
  display: block;
  position: sticky;
  top: 7rem;
  height: max-content;
}

.home__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.home__trending_blogs {
  padding-bottom: 0rem;
}

.home__most_used_tags {
  max-width: 300px;
  display: block;
  position: sticky;
  top: 7rem;
  height: max-content;
}

.home__most_used_tags h2 {
  font-size: 1.2rem;
}

.home__blogs {
  padding: 2rem 0;
  border-top: 1px solid var(--gray);
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.related__blogs {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .home__most_used_tags {
    max-width: 200px;
  }
  .home__trending_topics {
    display: none;
    visibility: hidden;
  }
  .home__main {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .home__container {
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .home__main {
    margin-top: 2rem;
  }
  .home__most_used_tags {
    max-width: 100%;
  }
  .home__most_used_tags {
    position: inherit;
  }

  .home__blogs,
  .related__blogs {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 480px) {
  .home__trending_blogs h2 {
    font-size: 1.3rem;
  }
}
