.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background: var(--lightgray);
  height: calc(100vh - 85px);
}

.login__form {
  border: 1px solid var(--gray);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--gray);
}

.login__form p {
  margin-top: 0.5rem;
}

@media screen and (max-width: 480px) {
  .login__wrapper {
    align-items: flex-start;
  }
  .login__form {
    margin-top: 25%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .login__form h1 {
    font-size: 1.5rem;
  }
}
