.tag__wrapper {
    padding: 2rem 4rem;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.tag__left {
    max-width: 300px;
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: var(--gray);
    margin-right: 1rem;
    border-radius: .5rem;
    position: sticky;
    top: 6rem;
    padding: 1rem;
}

.tag__post_count p {
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
}

.tag__post_count p span {
    font-size: 1.2rem;
    font-weight: 500;
}

.tag__post_count p:first-child {
    margin-bottom: .5rem;
}

.tag__top_contributer,
.tag__rating__container {
    margin-top: 1rem;
}

.tag__top_contributer .tag__contributers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tag__rating {
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.tag__rating p:first-child {
    font-size: 1.4rem;
    margin-right: .5rem;
    font-weight: 600;
}

.tag__right {
    flex: 1;
}

.tag__about_title {
    text-transform: capitalize;
}

.tag__about__container {
    padding: 1rem;
    background-color: var(--gray);
    border-radius: .5rem;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.tag__icon {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 3rem;
    background-color: var(--lightgray);
}

.tag__about {
    margin-left: 1rem;
    flex: 1;
}

.tag__posts {
    position: relative;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1rem;
}

@media screen and (max-width: 868px) {

    .tag__wrapper {
        padding: 1rem;
    }

    .tag__left_toggler {
        position: absolute;
        left: -.5rem;
        top: 1rem;
        width: 1.2rem;
        height: 7rem;
        background-color: var(--primary-color);
        border-radius: .5rem;
        cursor: pointer;
    }

    .tag__left {
        opacity: 0;
        visibility: hidden;
        left: -100%;
        position: absolute;
        z-index: 99;
        top: 1rem;
        max-width: 93%;
        transition: all .4s ease;
    }

    .tag__left.active {
        opacity: 1;
        visibility: visible;
        left: 1rem;
    }

    .tag__left_toggler.active {
        background-color: var(--secondary-color);
    }

    .tag__posts {
        grid-template-columns: 50% 50%;
    }
}


@media screen and (max-width: 480px) {

    .tag__wrapper h1 {
        font-size: 1.3rem;
    }

    .tag__wrapper h2 {
        font-size: 1.3rem;
    }

    .tag__posts {
        grid-template-columns: 100%;
    }

    .tag__post_count p {
        font-size: 2rem;
    }

}