.notification__wrapper {
    padding: 2rem 4rem;
}

.notification__wrapper h1 {
    position: sticky;
    top: 6.2rem;
}

.notification__container {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.notification__list {
    flex: 1;
    width: 100%;
}

.notification__filter {
    background-color: var(--gray);
    padding: 1rem;
    border-radius: .5rem;
    height: calc(100vh - 12rem);
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: sticky;
    top: 9.5rem;
}


.notification__filter button {
    width: 100%;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 5rem;
    margin: .2rem 0;
    padding: .5rem 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .4s ease;
}

.notification__filter button:hover {
    opacity: .8;
}

.notification__filter button.active {
    background-color: var(--primary-color);
}

.notification__filter button span {
    font-size: .8rem;
    color: var(--white);
    padding: .2rem;
    font-weight: 600;
}

.notification__list_wrapper {
    padding: 0 1rem;
    width: 100%;
    border-radius: .5rem;
}

.notification__item {
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--gray);
    margin-bottom: .5rem;
}

.notification__item.unread {
    background-color: var(--light);
}

.notification__loader .notification__item {
    padding: 1rem;
    animation: loading 2s infinite;
    transition: all 1s linear;
}

.notification__item_title {
    padding: .5rem 0;
    font-size: 1.5rem;
}

.notification__time {
    font-size: .9rem;
    margin-bottom: .5rem;
}

.notification__item_post_ref {
    display: block;
    margin-top: 1rem;
}


.notification__item_post {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 1rem;
    border: 1px dashed var(--black);
    color: var(--black);
    position: relative;
}

.notification__item_post:hover {
    opacity: .8;
}


.notification__item_post h2 {
    max-width: calc(100vmin - 50vmin);
    width: 100%;
}

.notification__item_post_img {
    margin-left: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 868px) {
    .notification__wrapper {
        padding: 1rem;
        padding-bottom: 6rem;
    }

    .notification__wrapper h1 {
        position: fixed;
        width: 100%;
        top: 6rem;
        left: 1rem;
        background-color: var(--white);
        padding: 1rem 0;
        z-index: 99;
        margin-top: -2rem;
    }

    .notification__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .notification__filter {
        max-width: 100%;
        height: max-content;
        overflow-x: auto;
        margin-bottom: .5rem;
        flex-direction: row;
        padding: .5rem;
        top: 7.5rem;
        z-index: 99;
        margin-bottom: 2rem;
    }

    .notification__filter button {
        padding: .3rem 1rem;
        margin: 0 .5rem;
        font-size: 1rem;
    }

    .notification__filter button span {
        font-size: .8rem;
    }

    .notification__list_wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .notification__wrapper h1 {
        font-size: 1.3rem;
    }

    .notification__filter button span {
        font-size: .8rem;
        margin-left: .5rem;
    }


    .notification__item_post h2 {
        font-size: 1.15rem;
    }

    .notification__item_title {
        font-size: 1.1rem;
    }


    .notification__item_post_img {
        width: 50px;
        height: 50px;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}